@{
	ViewData["Title"] = "ShowAdd";
}

<h1>ShowAdd</h1>
<form action="/test/add" method="post">
	<input type="text" name="x" />
	<input type="text" name="y" />
	<input type="submit" name="name" value="Add" />
</form>

