@model Department
@{
	ViewData["Title"] = "Create";
}

<form method="post">
	<label asp-for="Id">ID<input asp-for="Id" class="form-control" /></label>
	<span asp-validation-for="Id"></span><br />
	<label asp-for="Name">Name<input asp-for="Name" class="form-control" /></label>
	<span asp-validation-for="Name"></span><br />
	<label asp-for="Capacity">Capacity<input asp-for="Capacity" class="form-control" /></label>
	<span asp-validation-for="Capacity"></span><br />
	<br /> <input type="submit" value="Create" class="btn btn-success" />
</form>




@section Scripts {

	<partial name="_ValidationScriptsPartial.cshtml" />
}