@model Department
@{
	ViewData["Title"] = "Update";
}



<form asp-action="SaveUpdate" asp-route-id="@Model.Id">
	<label asp-for="Name">Name<input asp-for="Name" class="form-control" /></label>
	<span asp-validation-for="Name"></span><br />
	<label asp-for="Capacity">Capacity<input asp-for="Capacity" class="form-control" /></label>
	<span asp-validation-for="Capacity"></span><br />
	<br /> <input type="submit" value="Update" class="btn btn-success" />
</form>




@section Scripts {

	<partial name="_ValidationScriptsPartial.cshtml" />
}

