body {
    background-color: antiquewhite;
    font-family: sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
p {
    font-size: 23px;
    line-height: 1.4;
}

.nav.section {
    margin-top: 0;
}
.section {
    width: 80%;
    margin: 0 auto;
    margin-top: 9%;
}

.contact .section {
    margin-left: 13%;
    /* margin: 0; */
    display: inline-block;
    width: 70%;
}

table.section {
    margin-top: 5%;
}

.nav th {
    text-align: left;
    font-weight: bold;
    font-size: 25px;
}

.nav ul {
    list-style: none;
    padding: 0;
    text-align: right;
    margin: 0;
}

.nav li {
    display: inline-block;
    margin: 0 40px;
    font-size: 22px;
}

li:last-child {
    margin-right: 80px;
}

.nav li:hover {
    cursor: pointer;
}

img.logo {
    vertical-align: middle;
    margin-right: 7px;
    width: 45px;
    aspect-ratio: 1/1;
    margin-left: 60px;
}

.nav tr {
    vertical-align: sub;
}

.nav li img {
    width: 25px;
    aspect-ratio: 1/1;
    vertical-align: bottom;
}

.header .leftArea table {
    margin-right: 20%;
}

.leftArea h1 {
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 50px;
}

.rightArea img {
    height: 400px;
    vertical-align: text-bottom;
}

.leftArea p {
    font-size: 23px;
    line-height: 1.4;
    margin-bottom: 45px;
}

.shopb {
    background-color: #fd581a;
    margin-right: 30px;
}

.buttons button {
    padding: 10px 40px;
    color: white;
    font-size: 25px;
    border: 1px solid transparent;
}

.buttons button:hover {
    background: white;
    color: black;
    border: 1px solid;
}

.buttons button:hover {
    cursor: pointer;
}

.services .btn {
    margin-top: 70px;
}

.contactb {
    background: black;
}

.sectionHeader {
    text-align: center;
}

.sectionHeader p {
    font-size: 25px;
}

.sectionHeader h2 {
    font-size: 50px;
    margin-bottom: 50px;
}

.services div {
    text-align: center;
    border: 1px solid #d0d0d0;
    width: 85%;
    padding: 80px 20px 20px;
    border-radius: 8px;
    margin: 0 auto;
}

.services div:hover {
    border-top: 6px solid coral;
    padding-top: 75px;
}

.services h3 {
    color: coral;
    font-size: 30px;
    margin: 40px auto;
}

.services p {
    font-size: 23px;
    line-height: 1.4;
}

.rightArea {
    text-align: center;
}

.btn {
    padding: 10px 40px;
    color: white;
    border: 1px solid transparent;
    font-size: 25px;
}

.fruits .btn {
    background: black;
    margin-top: 30px;
    margin-bottom: 80px;
}

.btn:hover {
    background: white;
    color: black;
    border: 1px solid;
}

.btn:hover {
    cursor: pointer;
}

.services {
    text-align: center;
}

.services img {
    width: 80px;
    height: 80px;
}

.fruits h2 {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 20px;
}

.fruits div {
    width: 77%;
}

.fruits p {
    font-size: 25px;
    line-height: 1.4;
    margin: 10px 0;
}

td.img {
    text-align: center;
}

td.img img {
    max-width: 230px;
    max-height: 230px;
}

.backgroundImg {
    background: url(./images/tasty.png) no-repeat top center;
    height: 650px;
    text-align: center;
}
.section.backgroundImg {
    width: 100%;
}

.backgroundImg h2 {
    color: white;
    font-size: 140px;
    font-weight: 900;
    padding-top: 13%;
}

.testimonial {
    margin-top: 6%;

    text-align: center;
}

.testimonial img {
    width: 500px;
}
.testimonial h2 {
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 50px;
}
.testimonial p {
    line-height: 1.9;
}

.form {display: inline-block;width: 70%;}

.form h2 {
    font-size: 45px;
    margin-bottom: 65px;
}
.form .img {
}
.form input {display: block;background: transparent;border: none;border-bottom: 1px solid black;font-size: 30px;margin-bottom: 50px;width: 100%;outline: none;}
.form input[name="Message"] {margin: 110px 0 90px;}


.contact .img {
    display: inline-block;
    width: 319px;
    text-align: right;
}

.contact .img img {
    width: 100%;
}

.form input[type='submit']{
    display: inline-block;
    border: 1px solid transparent;
    background: coral;
    width: 200px;
}

.form input[type='submit']:hover {
    background: white;
}
