@model Student
@{
	ViewData["Title"] = "Update";
	SelectList Depts = new(ViewBag.Departments, "Id", "Name");
}

<h1>Update</h1>


<form method="post">
	<input asp-for="Id" value="@Model.Id" class="form-control" type="hidden" />
	<label asp-for="Name">Name<input asp-for="Name" class="form-control" /></label> <span asp-validation-for="Name"></span> <br />
	<label asp-for="Mail">Mail<input asp-for="Mail" class="form-control" /></label> <span asp-validation-for="Mail"></span> <br />
	<br /><label asp-for="DeptID">Department</label>
	<select asp-for="DeptID" class="form-select-sm" asp-items="Depts"></select>
	<br /><br /><input type="submit" value="Update" class="btn btn-success" />
</form>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


